

/* Imports the font that is used on this page. */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);


/* This section sets the defaults for the page, but you may never see changes here if they are overwritten by the div elements below.  */
html, body {
	margin: 0;  /* Margin is the amount of space between the border of an element, and the elements outside it. */
	padding: 0; /* Padding is the amount of space between the border of an element, and the elements inside it. */
}

.mainDiv{
	font: 130%/1.3 TrebuchetMS,Arial,sans-serif;  /* Default fonts */
	text-align: left; /* Alignment of the text */
	color: black; /* Main text color */
	background: white; /* Main text background color */
	padding-bottom: 20px; /* You can set padding or margin for one side of an element at a time */
	margin: 1%;
	padding: 1%;
}


h1 {		     /* This styles the header at the top of the page */
	font: bold 2.1em 'Source Sans Pro',Arial, Sans-Serif;
	text-align: center;
	/* color: #261975; */
}


.hobbies{
  width: 20%;
}
.links{
	margin-top: 50px;
	float: center;
  /* width: 20%; */
	background-color: #999796;
}
.button{
	display: block;
  width: 30%;
  border: none;
  background-color: #323232;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

body  {
	/* background-image: url("../Images/background.jpeg");  /* replace none with url('image-url') to set a background image  */ */ */
	height: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* This section alters the appearance of all divs with the class "section", which is all of the divs in our html file.  We can use it to specify style elements that we want to be the same accross divs. */
div.section {
	padding: 1em;
	margin-bottom: 0;
	text-align: justify;

}
/* This alters the appearance of the div with id="minileft", the div containing the images */
.minileft {
	float: left;
	height: 100%;
	margin-bottom:1.5em;
	margin-right: 1em;
}

.nav {
	overflow: hidden;
	background-color: #333;
}
.nav a{
	float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover{
	background-color: #ddd;
}

.imgDiv{
  padding: 2%;
  background-color: #cfcccc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 20px;

}
.image{
  max-width: 100%;
  height: auto;
  display: block;
  margin:auto;
}

.aboutMeText{
  padding: 15px;
  background-color: #cfcccc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 20px;

}
